/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

@font-face {
 font-family: 'metalfont';
 src: url(font.ttf);
}
@font-face {
 font-family: 'metalfont2';
 src: url(font2.ttf);
}

@font-face {
	font-family: 'font';
	src: url(pixellari.ttf);
}

body {
	
	  background: rgb(10,3,5);
	  background-image: url(img/bagle.gif);
	  color: whitesmoke;
	  margin: 80px;    
	font-family: 'metalfont2', Arial, sans-serif;
	
}

p {
	font-family: 'font', Arial, sans-serif;

}


#container {
	border: 1px solid rgb(139,186,194);
	padding: 10px;
	  background: rgb(19,9,29);
	  width: 100%;                            /* You can change this number */
	  max-width: 800px;                 /* You can change this number */
	  margin: auto;
	
}
h1 {
	font-family: 'metalfont', Arial, sans-serif;
	text-align: center;
	font-size: 50px;
}

ul {
	font-family: "Goudy Bookletter 1911", sans-serif;
  list-style: none;
  padding: 20px;
}

a {
  color: rgb(100,190,80);
}

a:hover {
  color: rgb(229, 66, 229);
}

a:visited {
  color: rgb(113, 122, 6);
}
a:visited:hover {
  color: rgb(180, 30, 180);
}

figure {
  margin: 10px;
}

figure img {
  width: 100%;
}

figcaption, footer {
  font-size: 0.75em;
}







