/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;

}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

@font-face {
	font-family: "myFont";
	src: url("font.ttf");
} 
body {
	background-color: lightblue;
	font-family: 'myFont', Arial, sans-serif;
	color: brown;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */
{
  box-sizing: border-box;
}

.main {
  float: left;
  width: 60%;
  padding: 20px;
}

.right {
  background-color: ghostwhite;
  float: left;
  width: 20%;
  padding: 15px;
  margin: 7px;
}

@media all and (max--width: 620px) {
  /* For mobile phones: */
  .main, .right {
    width: 100%;
  }
}

footer {
	background-color: ghostwhite;
	padding:10px;
	margin:7px;
}

/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (max-width: 769px) {
	
	.main, .right {
    width: 90%;
  }
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



