@font-face{
    font-family: 'crazyFont';
    src: url('CSS/Kablammo-Regular.ttf'); /*URL to font*/
}
body {
    background-color: #50514f;
    color: white;
    padding: 0px;
    margin: 0px;
}
h1{
    font-family: crazyFont;
}
aside{
    background-color: slateblue;
    float: left;
    width: 25vw;
    height: 100vh;
    padding: 10px;
    margin: 0px;
    border-right: dashed 10px white;
}
main {
    padding: 10px;
    float: right;
    width: 70%;
}
#colorResult{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 25%;
}
img {
    height: 200px;
    padding: 10px;
}