/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
	transition: background-color 0.25s ease; 
}

@keyframes changeColor {
            0% { background-color: red; } 
            25% { background-color: yellow; } 
            50% { background-color: green; }
            75% { background-color: dodgerblue; } 
            100% { background-color: violet; } 
        }


html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	display: flex;
	            align-items: center;
	            justify-content: center;
	            height: 100vh;
	            margin: 0;
	animation: changeColor 1s infinite;
	
}

form {
	background-color: lightseagreen;
	padding: 8vh;
	border-radius: 20px;
	border: dotted;
	border-width: 3vh;
	border-color: yellow;
	margin: 10px;

}

input[type="button"] {
	font-family: monospace;
	font-size: 3vh;
      
}

input[type="text"] {
      font-family: cursive;
      font-size: 3vh;
}

#container {
	
}
p {
	font-size: 3vh;
}
p #question {
	color: lightblue;
}

p #message {
	width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 2px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            cursor: pointer;
}
img {
	width: 50vh;
	border-radius: 20px;
	border-style: double;
	border-width: 2vh;
	border-color: greenyellow;
}








/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	
	
	
} /* closes 1024px+ */



