/* ========================================
Error free code (use the HTML validator AND CSS validator in the Resources module to verify)
======================================== */

@font-face {
 font-family: 'bug1';
 src: url(font.ttf);
}
@font-face {
 font-family: 'bug2';
 src: url(font2.ttf);
}
@font-face {
 font-family: 'star';
 src: url(star.ttf);
}
@font-face {
 font-family: 'bug3';
 src: url(font3.ttf);
}






html, body {
	margin:0px;
	padding:0px;
	height:100%;
	background-color: #990066;
	color: #FFCC00;
	font-family: 'bug1', Arial, sans-serif;
}

html {
	font-size: 1em;
    line-height: 1.4em;
}
header {
	background-color: #FF6600;
	padding: 10px;
	color: #FFCC00;
	text-align: center;
}

table {
	border: solid;
	margin: 10px;

}

p {
	font-family: 'bug1', Arial, sans-serif;

}
h1{
}
h3 {

}
h4{
	font-family: 'star', Arial, sans-serif;

}
section {
	background-color: #006699;
	padding: 10px;
	margin: 0px;
	height: 98%;
	width: 95%;

}

a {
	font-family: 'bug3', Arial, sans-serif;
}
/* unvisited link */
a:link {
  color: #FFCC00;
}

/* visited link */
a:visited {
  color: #FF9900;
}

/* mouse over link */
a:hover {
  color: #99CC33;
}

/* selected link */
a:active {
  color: #CCEE66;
}

article {

}
div {
	align-content: center;
	text-align: center;
}
footer {
		font-family: 'star', Arial, sans-serif;
	background-color: #669900;
	padding: 10px;
	color: #FFCC00;
	text-align: center;
	font-size: 20px;
}
.container {
	border: solid;
	margin: 10px;

}
.container2 {
  background-color: var(#675d50);
  font-size: 1.2rem;
  font-family: "Merriweather Sans", sans-serif;
  height: 70px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
.navbar a {
  font-weight: bold;
}

.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style-type: none;
}

.container2 .navbar {
  justify-content: space-between;
}

.container2 .navbar ul li {
  padding: 10px;
  margin: 0 10px;
}



.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.on {
  padding: 10px;
  flex: 20%;
}



#pop-up{
    position : absolute;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.5);
}

#iframe{
    width: 80%;
    margin: 20% auto;
    height: 60%;
    border: 1px solid black;
}
button {
	background-color: transparent;
	border: transparent;
}



.tw {
  padding: 10px;
  flex: 20%;
}
.thre {
  padding: 10px;
  flex: 20%;
}
.fou {
  padding: 10px;
  flex: 20%;
}

img {
	width: 100%;
	height: 100%;
}



.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 4;
}
.six {
  grid-column: 3;
  grid-row: 4;
}



/* Responsive layout - makes a one column layout instead of a two-column layout
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
}
  }
@media screen and (min-width: 390px) and (max-width: 767px) {
  .container {
    height: 100%;
  }

  .container .navbar {
    flex-direction: column;
  }
} 
 */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #003366;
  }
  section {
    width: 100%; 
  }
  h1 {
    font-size: 2em;
  }
  .navbar ul {
    flex-direction: column; 
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr 1fr; 
    gap: 5px;
  }
  h4 {
    font-size: 1.5em; 
    color: #FF3300;
  }
  section {
  background-color:#003366;

}
  .flex-container {
    flex-direction: column;
  }
  footer {
    font-size: 1.2em; 
  }
}


@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-columns: 1fr; 
    grid-auto-rows: auto;
  }
  footer {
    display: none; 
  }
  p {
    font-size: 0.8em;
  }
  h1 {
    font-size: 1.5em; 
  }
  .navbar ul {
    flex-direction: column; 
    font-size: 1em; 
  }
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */





