body {
	text-align: center;
	background: burlywood;
}

div#one {
	color: floralwhite;
	background: black;
	border-radius: 100%
	transition: all 200ms;
	font-size: 400px;
	width: 400px;
	height: 400px;
	position: static;
	float: right;
}
	div#one:hover{
		border-radius: 50%

	}

div#two {
	color: red;
	background: powderblue;
	font-size: 500px;
	width: 500px;
	height: 500px;
	position: static;
	float: left;
}
	div#two:hover {
		color: red;
		background: pink;
	}

div#three {
	color: black;
	background: palevioletred;
	font-size: 300px;
	width: 300px;
	height: 300px;
	position: static;
	float: right;
}
	div#three:hover {
		color: black;
		background: palevioletred;
		font-size: 100px;
	}
div#four {
	color: goldenrod;
	background: midnightblue;
	font-size: 200px;
	width: 200px;
	height: 200px;
	position: static;
	float: right;
}
	div#four:hover {
		transform: translate(50px,50px);
		transform: scale(2);
	}
div#five {
	color: green;	
	background: wheat;
	font-size: 380px;
	width: 400px;
	height: 400px;
	position: static;
	float: right;
}
	div#five:hover {
		transform: translate(-500px,-500px);
	}
div#six {
	color: midnightblue;
	background: goldenrod;
	border-radius: 50%;
	font-size: 200px;
	width: 200px;
	height: 200px;
	position: static;
	float: left;
}
	div#six:hover {
		transform: rotate(-45deg);
		font-size: 300px;
}
div#seven {
	color: lightyellow;
	background: orangered;
	font-size: 100px;
	width: 100px;
	height: 100px;
	position: static;
	float: left;
}
	div#seven:hover {
		transform: scale(5);
		transform: rotate(-90deg);
		transform: translate(-100px);
		border-radius: 30%;
	}
div#eight {
	color: pink;
	background: red;
	font-size: 300px;
	width: 300px;
	height: 300px;
	position: static;
	float: right;
	transition-delay: 100ms;
}
	div#eight:hover {
		visibility: hidden;
	}
div#nine {
	color: black;
	background: floralwhite;
	border-radius: 50%;
	font-size: 75px;
	width: 100px;
	height: 100px;
	position: static;
	border-width: 3px;
	border-style: dashed;
	float: left;
	transform: rotate(-90deg);
}
	div#nine:hover {
		border-style: dotted;
		transform: rotate(90deg);
	}
div#ten {
	color: wheat;
	background: green;
	font-size: 150px;
	width: 200px;
	height: 200px;
	position: static;
	float: left;
}
	div#ten:hover {
		transform: translate(-50px,-500px);
	}

