
:root{
    --dark-color: #310a31;
    --secondary-dark-color: #847996;
    --med-color: #88b7b5;
    --secondary-light-color: #a7cab1;
    --white : #ffffff;
    --black : #000000;
}

#littleimgs{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:top;
    width: 100%;
    gap:10px;
    margin: 10px 0;
}   




#littleimgs img{
    display:block;
    border-radius: 20px;
    width: 100px;
    object-fit: cover;
}




/* viewport */
.carousel-window{
  overflow:hidden;
  width: 90%;
}

/* track of all images */
.carousel-track{
  display:flex;
  transition: transform 0.4s ease;
}

/* each image takes 1/3 of window */
.carousel-track img{
  flex: 0 0 calc(100% / 3);
  width: 100%;
  border-radius:20px;
  object-fit:cover;
}

/* buttons */
#prev, #next{
  border:none;
  background: var(--secondary-dark-color);
  padding:8px 12px;
  cursor:pointer;
  border-radius:4px;
  font-size:20px;
}
#prev:hover, #next:hover{
  background: var(--med-color);
  color: var(--dark-color);
}








#aboutsection{
    display:flex;
    flex-direction:row;
    align-items:stretch;
    margin:40px;
    gap:20px;
}

#aboutimg{
    width:30%;
    flex-shrink:0;
}
#aboutimg img{
    width:100%;
    border-radius:20px;
    height:100%;
    object-fit:cover;
}

#abouttext{
    width:60%;
    font-size:18px;
    line-height:1.6;
}

#aboutimg, #abouttext{
    padding:20px;
}