#littleimgs{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:top;
    width: 100%;
    gap:10px;
    margin: 10px 0;
}   

#littleimgs img{
    display:block;
    border-radius: 20px;
    width: 30%;
    height: 100px;
    object-fit: cover;
}