:root{
    --dark-color: #310a31;
    --secondary-dark-color: #847996;
    --med-color: #88b7b5;
    --secondary-light-color: #a7cab1;
    --white : #ffffff;
    --black : #000000;
}

@font-face {
    font-family: 'paper';
    src: url(fonts/demibold.ttf);
}
@font-face {
    font-family: 'cursive';
    src: url(fonts/cursive.ttf);
}

::-webkit-scrollbar{
width: 0px; 
}



  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }



@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
}










body {
    margin: 0;
    padding: 0;
    font-family: 'paper', sans-serif;
    background-color: var(--white);
    color: var(--dark-color);
    overflow-x: hidden;
    scrollbar-width: none;
}


header h1 a {
    text-decoration: none;
    color: var(--dark-color);
    cursor: pointer;
    z-index: 3;
}
header h1 a:hover{
    text-decoration: none;
    font-style: normal;
    color: var(--dark-color);
}


img{
    width: 100%;
}

#icons {
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: -120px;
    z-index: 1;
}

#icons img {
    width: 70px;
    height: 70px;
    margin: 5px;
    transition: transform 0.3s;
}
#icons img:hover {
    transform: scale(1.2) ;
    border-bottom: var(--dark-color) 1px solid;
}

#tab {
    position: fixed;
    font-size: 20px;
    right: 0;
    top: 10px;
    background-color: var(--dark-color);
    color: var(--white);
    padding: 10px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    font-family: 'cursive', sans-serif;
    z-index: 2;
    animation: slide-in 1000ms;
}

#tab:hover{
    text-decoration: underline;
    text-decoration-color: var(--white);
    color: var(--secondary-light-color);
    transition: color 0.25s ease-in-out;
}

header {
    background-color: var(--white);
    border-color: var(--dark-color);
    color: var(--dark-color);
    font-family: 'cursive', sans-serif;
    text-align: center;
}

header h1 {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
}

/* header h3  {
    font-size: 20px;
    line-height: 10px;
    margin: -20px 0 10px 0;
    font-family: 'paper', sans-serif;
    text-shadow: var(--white) -1px 0 20px,
                 var(--white) 0 1px 20px,
                 var(--white) 1px 0 20px,
                 var(--white) 0 -1px 20px;
} */


nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: var(--white);
    border-top: solid 2px var(--secondary-dark-color); 
    border-bottom: solid 2px var(--secondary-dark-color);
    border-left: none;
    border-right: none;
    color: var(--secondary-dark-color);
    margin-bottom: 5px;
    font-size: 20px;
}

nav span {
    cursor: pointer;
}

nav span:hover {
    color: var(--med-color);
    font-style: italic;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
nav li {
    display: inline;
}
nav a {
    color: var(--dark-color);
    text-decoration: none;
    margin: 0;
}

a:hover{
font-style: italic;
color: var(--secondary-dark-color);
}

.dropdown {
  float: none;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;
  color: var(--dark-color);
  font-size: 20px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--med-color);
  text-decoration: underline;
}
/* dropdown in index */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-decoration: none;
    display: block;
    padding: 4px;
    margin: 0px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--med-color);
    color: var(--dark-color);
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}





.sidenav {
    height: 100%; 
    width: 0; 
    opacity: 0;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: var(--dark-color); 
    scrollbar-color: var(--black) var(--med-color);
    scrollbar-width: none;
    color: var(--med-color);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
    padding: 10px;
    display: block;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--secondary-dark-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* contact in the aside */

#pfpimg{
    border-radius: 50%;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
aside h2 {
    font-family: 'cursive', sans-serif;
    color: var(--white);
}


i {
    display: inline-block;
    color: var(--white);
}
i:hover{
    animation: bounce 0.3s ease-out;
    animation-fill-mode: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
form label {
    margin-top: 10px;
    margin-bottom: 5px;
}
form input, form textarea {
    padding: 8px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    font-family: 'paper', sans-serif;
}
form input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--white);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
form input[type="submit"]:hover {
    background-color: var(--secondary-dark-color);
}




a {
    color: inherit;
    display: inline-block;
}
a:hover{
    animation: bounce 0.3s ease-out;
    animation-fill-mode: none;
}



footer {
    background-color: var(--secondary-dark-color);
    color: var(--dark-color);
    text-align: center;
    margin-top: 20px;
    position: relative;
    left: 0;
    bottom: -10px;
    width: 100%;
    padding: 10px 0;
    padding-bottom: 10px;
}

