body{
height: 100vh;
}


button{
    font-size: 1rem;
}

.unpopped{
    border: 40px black;
    border-style:ridge;
}

.popped{
    border: 40px black;
    border-style: groove;
}


table{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}